<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PersistenceMap" type="PersistenceMap.Configuration.PersistenceMapSection, PersistenceMap" />
  </configSections>
  <connectionStrings>
    <!--<add name="PersistenceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=CWA-HOME;initial catalog=Northwind;persist security info=False;user id=sa" />-->
    <!--<add name="PersistenceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=.;initial catalog=Northwind;persist security info=False;user id=sa" />-->
    <!--<add name="PersistenceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=.;database=Northwind;persist security info=False;user id=sa" />-->
    <add name="PersistenceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=.;database=Northwind;persist security info=False;Integrated Security=True" />
    <!--<add name="PersistenceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=(LocalDB)\mssqllocaldb;database=Northwind;persist security info=False;Integrated Security=True" />-->
    <!--<add name="WarriorDB" connectionString="data source=.;database=WarriorDB;persist security info=False;user id=sa" />-->
    <add name="WarriorDB" connectionString="data source=.;database=WarriorDB;persist security info=False;Integrated Security=True" />
    <!--<add name="WarriorDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=Data\WarriorDB.mdf;Initial Catalog=WarriorDB;Integrated Security=False;user id=sa;MultipleActiveResultSets=True" />-->
  </connectionStrings>

  <PersistenceMap>
    <loggers>
      <!-- Write all log messages of PersistenceMap to System.Diagnostics.Trace -->
      <add type="PersistenceMap.Diagnostics.TraceLogger, PersistenceMap"/>
    </loggers>
  </PersistenceMap>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  
</configuration>