<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="persistanceMap" type="PersistanceMap.Configuration.PersistanceMapSection, PersistanceMap" />
    </configSections>
    <connectionStrings>
      <!--<add name="PersistanceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=CWA-HOME;initial catalog=Northwind;persist security info=False;user id=sa" />-->
      <add name="PersistanceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=.;initial catalog=Northwind;persist security info=False;user id=sa" />
    </connectionStrings>

  <persistanceMap>
    <loggers>
      <logger type="PersistanceMap.Diagnostics.TraceLogger, PersistanceMap"/>
    </loggers>
  </persistanceMap>
  
</configuration>