<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PersistenceMap" type="PersistenceMap.Configuration.PersistenceMapSection, PersistenceMap" />
  </configSections>
  <connectionStrings>
    <!--<add name="PersistenceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=CWA-HOME;initial catalog=Northwind;persist security info=False;user id=sa" />-->
    <add name="PersistenceMap.Test.Properties.Settings.ConnectionString" connectionString="data source=.;initial catalog=Northwind;persist security info=False;user id=sa" />
  </connectionStrings>

  <PersistenceMap>
    <loggers>
      <!-- Write all log messages of PersistenceMap to System.Diagnostics.Trace -->
      <add type="PersistenceMap.Tracing.TraceLogger, PersistenceMap"/>
    </loggers>
  </PersistenceMap>
</configuration>